@import '../variables.css';

.backdrop {
  background: rgba(20, 20, 20, .9);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.popup {
  background-color: #fff;
  border-radius: 4px;
  width: auto;
  height: fit-content;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnClose {
  position: absolute;
  right: 0;
  padding: 6px 12px;
  transform: translateX(100%);
  border: 0;
  background-color: transparent;
  color: whitesmoke;
}
.btnClose:hover {
  background-color: whitesmoke;
  color: black;
}
