.main {
  display: flex;
  line-height: 24px;
}
.body {}
.label {
  flex: 1;
  margin-left: 6px;
}

.item {
  width: 24px;
  display: inline-block;
  margin-left: 4px;
}
.item img {
  width: 100%;
  border-radius: 100%;
  overflow: hidden;
}
