@import '../variables.css';

.main {
  display: inline-block;
  padding: 6px 18px;
  border: 2px solid whitesmoke;
  border-radius: 2px;
  line-height: 24px;
}

.day {
  text-align: center;
}
.month {
  text-align: center;
  font-weight: bold;
}
